#!/usr/bin/env puma

directory '/home/deployer/courses/current'
rackup "/home/deployer/courses/current/config.ru"
environment 'production'

tag ''

pidfile "/home/deployer/courses/shared/tmp/pids/puma.pid"
state_path "/home/deployer/courses/shared/tmp/pids/puma.state"
stdout_redirect '/home/deployer/courses/shared/log/puma_access.log', '/home/deployer/courses/shared/$

threads 0,16

bind 'unix:///home/deployer/courses/shared/tmp/sockets/puma.sock'

workers 0

prune_bundler

on_restart do
  puts 'Refreshing Gemfile'
  ENV["BUNDLE_GEMFILE"] = "/home/deployer/courses/current/Gemfile"
end
