<!DOCTYPE html>
<html>
  <head>
    <title>SorcCourses</title>

    <%= csrf_meta_tags %>
    <link href="/css/style.css" rel="stylesheet">

  </head>

  <body class='app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden'>
    <%= yield %>
  </body>
</html>
